#content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 
    auto
    1fr
    auto;
    grid-template-columns: auto 1fr;
    border: 1px solid black;
}

main {
    grid-area: 2 / 2;
    background-color: lightslategray;
    margin: 0.5rem;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: rgb(236, 182, 82);
}

footer {
    background-color: lightsteelblue;
    grid-column: 1 / 3;
    grid-row: end;
}

h1 {
    grid-column: 3 / 4;
    background-color: lightblue;
}