#content {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 
    auto
    1fr
    auto;
    grid-template-columns: 20% 20% 20% 20% 20%;
    border: 1px solid black;
}

h1 {
    grid-column: 3 / 4;
    background-color: lightblue;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: rgb(236, 182, 82);
}